<!DOCTYPE html>
<html lang="en">

<head>
	<title>search engine</title>
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

	<form action="/search/results" method="post">

        <div class="box">
            <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" name="input" id="search" placeholder="Search..." />
            </div>
        </div>
        
        <button type="submit">go</button>

	</form>

	</body>
</html>
